In [88]:
def print_type(obj):
    print(f"{type(obj)}: {obj}")

In [89]:
print_type("AA")
print_type(-10)
print_type(3.14)
print_type(["A", "B", 10, {"A", "B"}, {"key": "value"}])

<class 'str'>: AA
<class 'int'>: -10
<class 'float'>: 3.14
<class 'list'>: ['A', 'B', 10, {'A', 'B'}, {'key': 'value'}]

In [90]:
num = input() # 3.15
print(num * 2) # 3.153.15
num = float(num)
print(num * 2) # 6.3
print_type(num)

ValueError: could not convert string to float: ''

In [ ]:
patient_id = 203412
patient_id = "M" + str(patient_id)
print(patient_id) # M203412

M203412

In [ ]:
patient_id = 203412
patient_id = f"M{patient_id}"
print(patient_id)

M203412

In [ ]:
var1 = "Bio"
var2 = "Informatics"
var3 = var1 + var2
print(var3)

BioInformatics

In [ ]:
seq1 = "AGTTTATAG"
#       012345678
print(seq1[5])
print(seq1[3:6])
print(len(seq1))

A
TTA
9

In [ ]:
seq1 = "ATGttATaG"
print(seq1.upper())
print(seq1.lower())
print(seq1.capitalize())
# method -> verb obj.method_name()
# attribute -> noun obj.attribute_name

ATGTTATAG
atgttatag
Atgttatag

In [ ]:
seq1 = "ATGTTATAG"
#       012345678
# 0, 3, 6 -> A, T, T
# print(seq1[0], seq1[3], seq1[6])
for i in range(0, len(seq1), 3):
    print(i, i+3, seq1[i:i+3])

0 3 ATG
3 6 TTA
6 9 TAG

In [ ]:
seq1 = "ATGTTATAG"
seq1_rev = seq1[::-1]
# seq1_rev = ""
# for i in range(len(seq1)-1, -1, -1):
#     seq1_rev += seq1[i]
print(seq1_rev)

GATATTGTA

In [ ]:
seq1 = "ATGTTATAG"
seq1_new = ""
for base in seq1:
    if base == "A":
        seq1_new += "T"
    elif base == "T":
        seq1_new += "A"
    elif base == "G":
        seq1_new += "C"
    elif base == "C":
        seq1_new += "G"
print(seq1)
print(seq1_new)

ATGTTATAG
TACAATATC

In [ ]:
complement = {"A":"T", "T":"A", "G":"C", "C":"G"}
seq1 = "ATGTTATAG"
seq1_new = ""
for base in seq1:
    seq1_new += complement[base]
print(seq1_new)

TACAATATC

In [ ]:
seq1 = "ATGTTATAG"
for base in seq1:
    if base == "C":
        print("FOUND Cytosine")

is_c_in = "C" in seq1
print(is_c_in)

False

In [ ]:
seq1 = "AGTTTATAG"
#       012345678
#         TT
#          TT
for i in range(len(seq1)):
    # print(i, i+2, seq1[i:i+2])
    if seq1[i:i+2] == "TT":
        print(i)

2
3

In [ ]:
s = "AA,AC,AG,AT"
data = s.split(",")
print(data)

['AA', 'AC', 'AG', 'AT']

In [ ]:
data = ['AA', 'AC', 'AG', 'AT']
print("||".join(data))

AA||AC||AG||AT

In [84]:
data = ['AA', 'AC', 'AG', 'AT']
print(len(data))

4

In [87]:
print(seq1)
for base in seq1:
    print(base)

AGTTTATAG
A
G
T
T
T
A
T
A
G

In [91]:
print(data)
for elem in data:
    print(elem)

['AA', 'AC', 'AG', 'AT']
AA
AC
AG
AT

In [ ]:
data = {"A": 10, "C": 20, "G": 30, "T": 40}
print(data)
for elem in data.items(): # data, data.keys(), data.values(), data.items()
    print(elem)

{'A': 10, 'C': 20, 'G': 30, 'T': 40}
('A', 10)
('C', 20)
('G', 30)
('T', 40)

In [96]:
data = list() # data = [] # 빈 상태 초기화
data = [10, 20, 30, 40] # 값을 넣으면서 초기화
print(data)
data.append(50)
print(data)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [100]:
data = list()
for i in range(1, 5):
    data.append(i*2)
print(data)

[2, 4, 6, 8]

In [ ]:
# new_list = [expression for item in iterable]
data2 = [x*2 for x in range(1, 5)]
print(data2)

[2, 4, 6, 8]

In [105]:
# new_list = [expression for item in iterable if condition == True]
data3 = [x for x in range(1, 5) if x % 2 == 0]
print(data3)

[2, 4]

In [ ]:
# new_list = [expression for item in iterable if condition == True]
data = [1, 2, 3, 4]
# 1) data의 각 요소를 제곱하여 new_list_1
new_list_1 = [x**2 for x in data]
print(new_list_1)
# 2) data의 각 요소에 M을 붙여서 new_list_2
new_list_2 = [f"M{x}" for x in data]
print(new_list_2)

[1, 4, 9, 16]
['M1', 'M2', 'M3', 'M4']

In [109]:
# new_list = [expression for item in iterable if condition == True]
codon = ["ATG", "GGC", "TGA", "CCT"]
# A가 없는 요소만 codon_new 리스트에 넣기
codon_new = [x for x in codon if "A" not in x]
print(codon_new)

['GGC', 'CCT']

In [110]:
data = ["AA", "AC", "AG", "AT"]
# 두 번째 위치를 CA로 변경
data[1] = "CA"
print(data)

['AA', 'CA', 'AG', 'AT']

In [111]:
data = ["AA", "AC", "AG", "AT"]
# data의 맨 뒤에 "CA" 추가 append
data.append("CA")
print(data)

['AA', 'AC', 'AG', 'AT', 'CA']

In [113]:
data = ["AA", "AC", "AG", "AT"]
# data의 맨 앞에 "CA" 추가 insert
data.insert(0, "CA")
data.insert(2, "TT")
print(data)

['CA', 'AA', 'TT', 'AC', 'AG', 'AT']

In [ ]:
data = ["AA", "AC", "AG", "AT"]
ret = data.pop()
print(data)
print(ret)
# queue, stack

['AA', 'AC', 'AG']
AT

In [119]:
seq1 = "ATGTGATTA"
seq1_rev = seq1[::-1]
print(seq1_rev)

data = ["AA", "AC", "AG", "AT"]
data_rev = data[::-1]
print(data_rev)

ATTAGTGTA
['AT', 'AG', 'AC', 'AA']

In [121]:
gene_expr = [3.14, 11.82, 7.44, 1.92]
codon = ["ATG", "GGC", "TGA", "CCT"]

gene_expr.sort(reverse=True)
codon.sort(reverse=True)

print(gene_expr)
print(codon)

[11.82, 7.44, 3.14, 1.92]
['TGA', 'GGC', 'CCT', 'ATG']

In [ ]:
gene_expr = [3.14, 11.82, 7.44, 1.92]
print(gene_expr)
# gene_expr.sort()
gene_expr_new = sorted(gene_expr)
print(gene_expr_new)

[3.14, 11.82, 7.44, 1.92]
[1.92, 3.14, 7.44, 11.82]

In [126]:
relative_value = [7.8, -5.4, 3.2, -11.8]
relative_value.sort(key=abs)
print(relative_value)

[3.2, -5.4, 7.8, -11.8]

In [127]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
# max, min
max_val = max(data)
min_val = min(data)
print(max_val, min_val)

3 0

In [128]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
max_val = data[0]
min_val = data[0]
for elem in data:
    if elem > max_val:
        max_val = elem
    if elem < min_val:
        min_val = elem
print(max_val, min_val)

3 0

In [134]:
var1 = ["A", "C", "G", "T"]
var2 = ["AA", "CC", "GG", "TT"]
var3 = var1 + var2
var1.append(var2)
print(var3)
print(var1)

['A', 'C', 'G', 'T', 'AA', 'CC', 'GG', 'TT']
['A', 'C', 'G', 'T', ['AA', 'CC', 'GG', 'TT']]

In [ ]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
data_new = set(data)
print(data_new)
for elem in data_new:
    print(elem)
# print(elem[0]) # 인덱싱 안됨.

{0, 1, 2, 3}
0
1
2
3

In [136]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
data_new = set()
for elem in data:
    if elem not in data_new:
        data_new.add(elem)
print(data_new)

{0, 1, 2, 3}

In [146]:
genelist1 = ["BRAF", "MEN1", "RET", "KRAS", "BRAF"]
genelist2 = ["MEN1", "PTEN", "KRAS", "TERT", "P53"]
geneset1 = set(genelist1)
geneset2 = set(genelist2)
# 1) 중복 없이 전체 유전자 리스트 만들기
# genelist_all = set(genelist1 + genelist2)
genelist_all = geneset1.union(geneset2)
print(genelist_all)
# 2) 공통된 유전자 리스트 만들기
genelist_common = geneset1.intersection(geneset2)
print(genelist_common)
# 3) 첫번째 리스트에만 있는 유전자 리스트 만들기
genelist1_only = geneset1 - geneset2
print(genelist1_only)
# 4) 두번째 리스트에만 있는 유전자 리스트 만들기
genelist2_only = geneset2 - geneset1
print(genelist2_only)

{'PTEN', 'RET', 'TERT', 'P53', 'KRAS', 'MEN1', 'BRAF'}
{'KRAS', 'MEN1'}
{'RET', 'BRAF'}
{'TERT', 'PTEN', 'P53'}

In [148]:
data = "ATGTTATAG"
count_data = dict()
for elem in data:
    if elem not in count_data:
        count_data[elem] = 0
    count_data[elem] += 1
print(count_data)

{'A': 3, 'T': 4, 'G': 2}

In [149]:
from collections import defaultdict
data = "ATGTTATAG"
count_data = defaultdict(int)
for elem in data:
    count_data[elem] += 1
print(count_data)

defaultdict(<class 'int'>, {'A': 3, 'T': 4, 'G': 2})

In [150]:
from collections import defaultdict

seq1 = "MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSSVLHSTQDLFLPFFSNVTWFHAIHVSGTNGTKRFDNPVLPFNDGVYFASTEKSNIIRGWIFGTTLDSKTQSLLIVNNATNVVIKVCEFQFCNDPF"
count_data = defaultdict(int)
for aa in seq1:
    count_data[aa] += 1
print(count_data)

defaultdict(<class 'int'>, {'M': 1, 'F': 15, 'V': 15, 'L': 13, 'P': 8, 'S': 12, 'Q': 5, 'C': 3, 'N': 11, 'T': 14, 'R': 5, 'A': 4, 'Y': 4, 'G': 6, 'D': 6, 'K': 5, 'H': 3, 'W': 2, 'I': 6, 'E': 2})

In [ ]:
# lambda arguments: expression
make_double = lambda x: x*2
res = make_double(3)
print(res)

6

In [157]:
# lambda arguments: expression
# 1) 주어진 수가 짝수이면 True 홀수면 False를 반환하는 lambda function 만들기
check_even = lambda x: x%2 == 0
print(check_even(3))
print(check_even(6))

False
True

In [160]:
# lambda arguments: expression
# 2) 세 수를 입력받아서 minimum value 를 반환하는 lambda function 만들기
min_val_3 = lambda x, y, z: min((x, y, z))
print(min_val_3(5, 3, 7))

3

In [172]:
seq1 = "MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSSVLHSTQDLFLPFFSNVTWFHAIHVSGTNGTKRFDNPVLPFNDGVYFASTEKSNIIRGWIFGTTLDSKTQSLLIVNNATNVVIKVCEFQFCNDPF"
count_data = dict()
for aa in seq1:
    if aa not in count_data:
        count_data[aa] = 0
    count_data[aa] += 1
print(count_data)
print(count_data.items())

{'M': 1, 'F': 15, 'V': 15, 'L': 13, 'P': 8, 'S': 12, 'Q': 5, 'C': 3, 'N': 11, 'T': 14, 'R': 5, 'A': 4, 'Y': 4, 'G': 6, 'D': 6, 'K': 5, 'H': 3, 'W': 2, 'I': 6, 'E': 2}
dict_items([('M', 1), ('F', 15), ('V', 15), ('L', 13), ('P', 8), ('S', 12), ('Q', 5), ('C', 3), ('N', 11), ('T', 14), ('R', 5), ('A', 4), ('Y', 4), ('G', 6), ('D', 6), ('K', 5), ('H', 3), ('W', 2), ('I', 6), ('E', 2)])

In [171]:
# lambda arguments: expression
print(sorted(count_data.items(), key=lambda x: x[1])[:3])
print(sorted(count_data.items(), key=lambda x: x[1])[-3:])

[('M', 1), ('W', 2), ('E', 2)]
[('T', 14), ('F', 15), ('V', 15)]

In [175]:
class DNA: # 붕어빵 틀
    pass

dna1 = DNA() # dna1 붕어빵
dna2 = DNA() # dna2 붕어빵
print(type(dna1), type(dna2))
print(dir(dna1))
data = list()
data2 = dict()
print(type(data), type(data2))

<class '__main__.DNA'> <class '__main__.DNA'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']
<class 'list'> <class 'dict'>

In [2]:
# Property: sequence: str, sample_id: int
# Method: get_length() -> int, get_reverse_sequence() -> str

class DNA: # 붕어빵 틀
    def __init__(self):
        self.sequence = "AAA"
    def get_length(self) -> int:
        return len(self.sequence)
    def __add__(self, other):
        return self.sequence + other.sequence
    def __str__(self):
        return f"서열: {self.sequence}, 길이: {len(self.sequence)}"
dna1 = DNA()
dna1.sequence = "ACGT"
print(dna1)
# dna2 = DNA()
# dna2.sequence = "TTTT"
# print(dna1 + dna2)

서열: ACGT, 길이: 4

In [3]:
class RNA(DNA):
    pass

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'get_length',
 'sequence']

Buddy says Woof!

In [ ]:
class DNA:
    def get_type(self):
        return "DNA"

class RNA(DNA):
    def get_type(self):
        return "RNA"  # 오버라이딩